@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Redaction";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/redaction/Redaction-Regular.woff2") format("woff2"),
    url("/fonts/redaction/Redaction-Regular.otf") format("otf");
}
@font-face {
  font-family: "Redaction";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/redaction/Redaction-Bold.woff2") format("woff2"),
    url("/fonts/redaction/Redaction-Bold.otf") format("otf");
}
@font-face {
  font-family: "Redaction";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/redaction/Redaction_70-Italic.woff2") format("woff2"),
    url("/fonts/redaction/Redaction70-Italic.otf") format("otf");
}

body {
  @apply h-full min-w-[360px] scroll-smooth bg-gray-0 leading-normal text-gray-11 antialiased;
  font-family: sans-serif;
}

,
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

,
::selection {
  @apply bg-gray-12 text-gray-1;
}

,
* {
  @apply focus-visible:z-10 focus-visible:rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-9 focus-visible:ring-offset-4 focus-visible:ring-offset-gray-0;
}

,
input,
button,
textarea,
select {
  font: inherit;
}

,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

,

/* Remove Safari input shadow on mobile */
'input[type="text"]' {
  appearance: "none";
}

'input[type="email"]' {
  appearance: "none";
}
