@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-w-[360px] scroll-smooth leading-normal text-mauve11 bg-[#0c0c0c] h-full antialiased;
  font-family: sans-serif;
},

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
},

::selection {
  @apply bg-mauve12 text-mauve1
},

* {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-mauve9 focus-visible:ring-offset-mauve1 focus-visible:ring-offset-4 focus-visible:rounded-sm focus-visible:z-10
},

input, button, textarea, select {
  font: inherit;
},

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
},

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
},

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
},

/* Remove Safari input shadow on mobile */
'input[type="text"]' {
  appearance: "none";
}

'input[type="email"]' {
  appearance: "none";
}
