@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .min-h-70vh {
    min-height: 70vh;
  }
  .min-h-30vh {
    min-height: 30vh;
  }
  @variants responsive {
    /*this is here because next/image has inline padding build into it, which overwrites the padding from tailwind, this is the cleanest way I found to do this, sorry about this humanity but i'm about to use "!important caralho" here*/
    .p-sm-caralho {
      padding: 4rem !caralho;
    }
    .p-lg-caralho {
      padding-right: 6rem !caralho;
      padding-left: 18rem !caralho;
      padding-top: 4rem !caralho;
      padding-bottom: 4rem !caralho;
    }
    .t-writing-mode-vlr {
      writing-mode: vertical-lr;
    }
    .t-writing-mode-reset {
      writing-mode: horizontal-tb;
    }
    .h-max-content {
      height: max-content;
    }
    .max-w-1\/2 {
      max-width: 49.99%;
    }
  }
}